.navbar {
    flex: 1;
    display: flex;
    justify-content: center;

    .navbar-buttons {
        display: flex;
        justify-content: space-around;
        width: 900px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 48px;
        color: #4F4F4F;
    }
}

.container {
    padding: 7rem 3rem;

    .row1 {
        display: flex;
        justify-content: space-between;

        .col1 {

            h1 {
                font-family: 'Bodoni Moda';
                font-style: normal;
                font-weight: 400;
                font-size: 64px;
                line-height: 98px;
                color: #1C1D1E;
            }

            p {
                margin-top: 48px;
                margin-bottom: 16px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #4F4F4F;
            }

            .button-contact {
                background: #4A93EC;
                border-radius: 4px;
                border-style: none;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                margin-top: 64px;
                padding: 16px 32px;

                /* Background */

                color: #F8FAFC;

            }
        }

        .col2 {
            padding-top: 5rem;

            .picture-hrvoje-gelo {
                width: 462px;
                padding: 0 15px;
                padding-top: 100px;
            }
        }
    }

    .row2 {
        display: flex;
        justify-content: center;

        .list-of-principles {
            margin: 80px 0;
            font-family: 'Bodoni Moda';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 72px;
            /* identical to box height, or 180% */


            color: #000000;
        }
    }

    .box {

        .row {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2rem;
            // background-color: rgb(228, 247, 176);
            height: 150px;
            // @media (max-width: 1200px){
            //     display: flex;
            //     flex-direction: column;
            // }


            .col {
                display: flex;
                flex-direction: row;


                .numbers {
                    width: 100px;
                    padding-left: 1rem;

                    .frame {
                        border-style: solid;
                        width: 90px;
                        height: 90px;
                        border-radius: 45px;
                        border-width: 1px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        //background-color: pink;
                        p {
                            font-family: 'Didot';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            padding-top: 15px;
                        }
                    }


                }

                .text {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 40px;
                    padding-left: 4rem;
                    //background-color: greenyellow;
                    color: #4F4F4F;
                    width: 500px;
                }
            }
        }
    }
}

.footer {
    padding: 4rem 5rem;
    background: #1C1D1E;
    display: flex;
    justify-content: space-between;

    .col {
        a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 36px;
            /* identical to box height, or 180% */
            margin: 2rem 1rem;

            letter-spacing: 0.05em;

            /* Background */

            color: #F8FAFC;
        }
    }

    .footer-logo {
        margin-bottom: -4rem;
        display: flex;
        align-items: flex-end;

        .logo-picture {
            width: 370px;
        }
    }
}